## Copyright (C) 2012 - 2020 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: whonix-base-files
Section: misc
Priority: optional
Maintainer: Patrick Schleizer <adrelanos@riseup.net>
Build-Depends: debhelper (>= 12), config-package-dev, ronn
Homepage: https://github.com/Whonix/whonix-base-files
Vcs-Browser: https://github.com/Whonix/whonix-base-files
Vcs-Git: https://github.com/Whonix/whonix-base-files.git
Standards-Version: 4.3.0

Package: whonix-base-files
Architecture: all
Depends: less, sudo, ${misc:Depends}
Provides: ${diverted-files}, kicksecure-base-files
Conflicts: ${diverted-files}
Replaces: kicksecure-base-files
Description: Whonix base system miscellaneous files
 This package contains several important miscellaneous files, such as
 /etc/issue, /etc/motd, /etc/dpkg/origins/whonix,
 /etc/skel/.bashrc, /usr/bin/whonix, and others.
 .
 Sets the WHONIX environment variable to 1 as well.
